.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 20px;
  margin-top: 90px;
}

h1 {
  width: 448px;
  height: 44px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
  /* margin-top: -20px; */
}

form {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: 30px auto;
}

.input-container {
  display: flex;
  width: 100%;
  margin: 10px auto;
}

input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 14px;
    gap: 8px;
    width: 720px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  outline: none;
}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;
  width: 720px;
  height: 132px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  resize: none;
  outline: none;
}

.lb-move:nth-child(2) {
  padding-left: 50px;
}

.lb-move input {
  width: 319px;
}

label {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
}

input[type="checkbox"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  margin-top: 18px;
}

.check-box {
  display: inline-flex;
}

.check-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin-left: 10px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  color: #fff;
  width: 760px;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  cursor: pointer;
  transition: all ease .5s;
}

button:hover{
    background: #175CD3;
}

/* make sure you have the latest version of react installed */

@media screen and (max-width: 1290px) and (min-width: 650px) {
  .input-container {
    flex-direction: column;
  }

  .lb-move:nth-child(2) {
    padding-left: 0;
  }

  .lb-move input {
    width: 100%;
  }

  .lb-move:nth-child(1) {
    margin-bottom: 20px;
  }

  .check-box {
    display: flex;
    flex-direction: column;
  }

  .check-box p {
    margin-left: 0;
  }

  button {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }

  h1 {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  form {
    width: 100%;
    margin: 0;
  }

  .input-container {
    flex-direction: column;
  }

  .lb-move:nth-child(2) {
    padding-left: 0;
  }

  .lb-move input {
    width: 100%;
  }

  .lb-move:nth-child(1) {
    margin-bottom: 20px;
  }

  .check-box {
    display: flex;
    flex-direction: column;
  }

  .check-box p {
    margin-left: 0;
  }

  button {
    width: 100%;
  }
} 


