section{
    overflow: hidden;
}

.filter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 70px 60px 40px 0;
}

.filter li {
  list-style: none;
  margin: 0 10px;
}

.filter a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
}

.filter a:hover {
  color: #ff6b08;
}

.filter button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 1px 5px;
  text-align: center;
  height: 48px;
  width: 161px;  
  color: #333333;
  cursor: pointer;
  transition: all ease .5s;
}

.filter button:hover {
 background: #ffffff;
 border: 1px solid #ff6b08;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
