.about-page {
  height: 774px;
  width: 100vw;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border: 1px solid #000000;
    box-sizing: border-box;
    display: flex
}

.about-page .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.about-page h1 {
  font-weight: 700;
  font-size: 48px;
  /* line-height: 60px; */
  color: #fff;
}

.about-page p {
  height: 136px;
  width: 415px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}

.about-btn {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 8px;
  width: 156px;
  height: 48px;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
  color: #a02279;
}

.about-page img:nth-child(1){
    position: absolute;
    /* top: 0;
    left: 0; */
    /* z-index: -1; */
    margin: 0 0 0  200px ;
 }

.about-page img:nth-child(2){
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 2;
    margin: 300px 0 0 300px;
 }

.about-page img:nth-child(3){
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 1;
    margin: 200px 200px 0 0;
 }